<div class="container-fluid user-left user-left-container">
    <div class="container-fluid md-body-container body-margin-top user-left-bg">
        <div class="row">
        <ul id="accordion" class="accordion" data-self="__SELF__">
            <li>
                <div class="link" name="1"><i class="glyphicon glyphicon-asterisk"></i>设置<i class="glyphicon glyphicon-asterisk"></i></div>
                <ul id="opt_1" class="submenu">
                    <li><a href="{:U('Admin/Bake/bakeDb')}" target="_self">备份数据库</a></li>
                    <div class="sub-link"></div>
                    <li><a href="{:U('Admin/Bake/bakeWebsite')}" target="_self">备份网站</a></li>
                </ul>
            </li>
        </ul>
        </div>
    </div>
</div>