<extend name="Base/common"/>
<block name="style">
    <link rel="stylesheet" href="__LIB__/Common/jquery/plugin/shCircleLoader/jquery.shCircleLoader.css">
    <link rel="stylesheet" href="__CSS__/Home/user.css">
    <link rel="stylesheet" href="__CSS__/Home/main.css">
</block>
<block name="body">
    <div class="container lg-body-container md-body-container">
        <div class="row user-row">
            <div class="col-xs-3">
                <include file="Public/leftMenu"/>
            </div>
            <div class="col-xs-9">
                <section class="panel">
                    <section class="panel-heading">
                        <h4 class="text-center">用户绑定</h4>
                    </section>
                    <section class="panel-body"></section>
                </section>
            </div>
        </div>
    </div>
    <block name="script">
        <script type="application/javascript" src="__LIB__/Common/jquery/plugin/jquery.validate.min.js"></script>
        <script type="application/javascript" src="__LIB__/Common/jquery/plugin/messages_zh.js"></script>
        <!--circle load-->
        <script type="application/javascript" src="__LIB__/Common/jquery/plugin/shCircleLoader/jquery.shCircleLoader-min.js"></script>
        <script type="application/javascript" src="__JS__/Home/myShCircle.js"></script>
        <script type="application/javascript" src="__JS__/Home/user.js"></script>
        <script type="application/javascript" src="__JS__/Home/bind.js"></script>
    </block>
</block>