.sm-body-height, .sm-body-container {
  min-height: 400px;
}

.md-body-height, .md-body-container {
  min-height: 650px;
}

.lg-body-height, .lg-body-container {
  min-height: 900px;
}

.xlg-body-height, .xlg-body-container {
  min-height: 1100px;
}

.error {
  color: red;
}

html {
  overflow: auto;
  overflow-x: hidden;
}

.top-menu .show-tag {
  color: #1bbc9b;
}

#header-nav .header-root-nav:hover {
  background: #1bbc9b;
}

.sm-body-container {
  margin-top: 1px;
}

.body-margin-top {
  margin-top: 25px;
}

.navbar-nav li {
  min-width: 90px;
}

.dropdown {
  margin-right: 120px;
}

.dropdown .dropdown-menu {
  background-color: #3a5371;
  width: 100%;
  min-width: 290px;
  text-align: left;
}

.dropdown .dropdown-menu a:hover {
  background-color: #3a5371;
  color: #1bbc9b;
}

.dropdown .dropdown-menu li {
  height: auto;
  min-height: 34px;
  display: block;
}
